<div class="container">
  <h1 class="mt-4 text-center">Редактировать новостной ресурс</h1>

  <% if notice.present? %><div class="alert alert-info"><%= notice %></div><% end %>
  <% if alert.present? %><div class="alert alert-warning"><%= alert %></div><% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <%= form_for(@source) do |f| %>

          <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :address %>
            <%= f.text_field :address, class: 'form-control' %>
          </div>
          <br />
          <%= f.submit "Изменить", class: "btn btn-primary" %>
          <%= link_to "Вернуться без сохранения", sources_path, class: "btn btn-outline-secondary btn-small pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>