<!-- Full Page Image Header with Vertically Centered Content -->
<header class="scdhead">
  <div class="container h-100">
    <div class="row h-100 align-items-center text-light">
      <div class="col-12">
        <h1 class="font-weight-light">News feed</h1>
      </div>
    </div>
  </div>
</header>

<section class="py-5">
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-3 px-1">
      <div class="py-4 sticky-top flex-grow-1">
        <div class="nav nav-pills flex-sm-column">
          <div class="nav-link d-none d-sm-inline">Навигация по категориям</div>
          <%= link_to "Все категории", news_path, class: "nav-link" + (params[:category] == "all" || !params[:category].present? ? " active" : "") %>
          <%= link_to "Бизнес", news_path(category: "business"), class: "nav-link" + (params[:category] == "business" ? " active" : "") %>
          <%= link_to "Политика", news_path(category: "politics"), class: "nav-link" + (params[:category] == "politics" ? " active" : "") %>
          <%= link_to "Спорт", news_path(category: "sport"), class: "nav-link" + (params[:category] == "sport" ? " active" : "") %>
          <%= link_to "Технологии", news_path(category: "technology"), class: "nav-link" + (params[:category] == "technology" ? " active" : "") %>
        </div>
      </div>
    </div>

  <!-- Card columns -->
    <div class="col" id="main">
      <div class="card-columns">
        <% @news.each do |entry| %>
          <div class="card">
            <img class="card-img" src="<%= entry["enclosure"] %>" alt="Card image">
            <div class="card-body myBox">
              <h5 class="card-title"><%= entry["title"] %> <span class="badge badge-secondary"><%= entry["class"] %></span></h5>
              <p class="card-text"><%= entry["description"] %></p>
              <p class="card-text"><small class="text-muted">Posted <%= DateTime.parse(entry["date"]).to_formatted_s(:db) %></small></p>
              <%= link_to "Read more...", entry["link"], class: "stretched-link" %>

              <%= form_tag({ controller: 'read_later_entries', action: 'create'}, method: 'post') do %>
                <%= fields_for :entry do |ff| %>
                  <%= ff.hidden_field :title, value: entry['title'] %>
                  <%= ff.hidden_field :description, value: entry["description"] %>
                  <%= ff.hidden_field :image, value: entry["enclosure"] %>
                  <%=  ff.hidden_field :date, value: DateTime.parse(entry["date"]) %>
                  <%= ff.hidden_field :link, value: entry["link"] %>
                  <%= ff.submit "Прочитать позже", class: "btn btn-primary" %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    </div>

  <!-- Card columns -->


  </div>
</div>
</section>