<!-- Full Page Image Header with Vertically Centered Content -->
<header class="scdhead">
  <div class="container h-100">
    <div class="row h-100 align-items-center text-light">
      <div class="col-12">
        <h1 class="font-weight-light">Новостная лента</h1>
      </div>
    </div>
  </div>
</header>

<section class="py-5">
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-3 px-1">
      <div class="py-4 sticky-top flex-grow-1">
        <div class="nav nav-pills flex-sm-column">
          <div class="nav-link d-none d-sm-inline">Навигация по категориям</div>
          <%= link_to "Все категории", news_path, class: "nav-link" + (params[:category] == "all" || !params[:category].present? ? " active" : "") %>
          <%= link_to t("business"), news_path(category: "business"), class: "nav-link" + (params[:category] == "business" ? " active" : "") %>
          <%= link_to t("politics"), news_path(category: "politics"), class: "nav-link" + (params[:category] == "politics" ? " active" : "") %>
          <%= link_to t("criminal"), news_path(category: "criminal"), class: "nav-link" + (params[:category] == "criminal" ? " active" : "") %>
          <%= link_to t("sport"), news_path(category: "sport"), class: "nav-link" + (params[:category] == "sport" ? " active" : "") %>
          <%= link_to t("technology"), news_path(category: "technology"), class: "nav-link" + (params[:category] == "technology" ? " active" : "") %>
          <%= link_to t("culture"), news_path(category: "culture"), class: "nav-link" + (params[:category] == "culture" ? " active" : "") %>
        </div>
      </div>
    </div>

  <!-- Card columns -->
    <div class="col-9" id="main">

      <% if @news.empty? %>
        <div class="error-template">
          <h1 class="text-primary">Ой-ой!</h1>
          <h3>Не получается сформировать ленту новостей</h3>
          Сообщите об этом нам и попробуйте через некоторое время
        </div>
      <% end %>

      <div class="card-columns">
        <% @news.each do |entry| %>
          <div class="card">
            <% unless entry["enclosure"].nil? %><img class="card-img" src="<%= entry["enclosure"] %>" alt="Card image"><% end %>
            <div class="card-body myBox">
              <h5 class="card-title"><%= entry["title"] %> <span class="badge badge-secondary"><%= t("#{entry["class"]}") %></span></h5>
              <p class="card-text"><%= entry["description"] %></p>
              <p class="card-text"><small class="text-muted">Опубликовано <%= DateTime.parse(entry["date"]).to_formatted_s(:db) %></small></p>
              <%= link_to "Читать далее...", entry["link"], target:'_blank', class: "stretched-link mb-4" %>

              <br />
              <br />

              <div class="report-show d-inline"><small>
                <%= link_to "Категория неверно определена?", entry["link"], class: "stretched-link align-bottom" %></small>
                <%= form_tag({ controller: 'learning_entries', action: 'create'}, method: 'post', remote: true, format: 'json', class: "form-inline pull-left d-none") do %>
                  <%= fields_for :learning_entry do |ff| %>
                    <%= ff.hidden_field :title, value: entry['title'] %>
                    <%= ff.hidden_field :description, value: entry["description"] %>
                    <div class="form-inline">
                      <%= ff.select :category, options_for_select([%w(Бизнес business),
                                                                    %w(Спорт sport),
                                                                    %w(Наука\ и\ технологии technology),
                                                                    %w(Политика politics),
                                                                    %w(Происшествия criminal),
                                                                    %w(Культура culture)]), {}, {:class => 'form-control'} %>
                      <%= ff.button type: "submit", class: "btn btn-warning ln_submit", :data => {:toggle=>"tooltip"},
                                    'title' => "Сообщить о неверной классификации",
                                    'data-placement' => 'top' do %><%= fa_icon("bug") %><% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <%= form_tag({ controller: 'read_later_entries', action: 'create'}, method: 'post', remote: true, format: 'json', class: "form-inline pull-right mb-4") do %>
                <%= fields_for :entry do |ff| %>
                  <%= ff.hidden_field :title, value: entry['title'] %>
                  <%= ff.hidden_field :description, value: entry["description"] %>
                  <%= ff.hidden_field :image, value: entry["enclosure"] %>
                  <%= ff.hidden_field :date, value: DateTime.parse(entry["date"]) %>
                  <%= ff.hidden_field :link, value: entry["link"] %>
                  <%= ff.button type: "submit", class: "btn btn-primary rl_submit", :data => {:toggle=>"tooltip"},
                                'title' => "Добавить в \"Почитать позже\"",
                                'data-placement' => 'top' do %><%= fa_icon("plus") %><% end %>
                <% end %>
              <% end %>

            </div>
          </div>
        <% end %>
      </div>

    </div>

  <!-- Card columns -->


  </div>
</div>
</section>