<!-- Full Page Image Header with Vertically Centered Content -->
<header class="scdhead">
  <div class="container h-100">
    <div class="row h-100 align-items-center text-light">
      <div class="col-12">
        <h1 class="font-weight-light">Статистика</h1>
      </div>
    </div>
  </div>
</header>

<section class="py-5">
  <div class="container-fluid">
    <% if @data.empty? %>
      <div class="error-template">
        <h1 class="text-primary">Ой-ой!</h1>
        <h3>Не получается получить статистику для аналитики</h3>
        Сообщите об этом нам и попробуйте через некоторое время
      </div>
    <% else %>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">

          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {

              var data = google.visualization.arrayToDataTable(
                  <%= raw @data.prepend(['Category', 'Count']).to_json %>
              );

              var options = {
                  title: 'Распределение новостей по категориям'
              };

              var chart = new google.visualization.PieChart(document.getElementById('piechart'));

              chart.draw(data, options);
          }
      </script>

      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Количество пользователей</h5>
              <h6 class="text-center text-secondary">Зарегистрировано</h6>
              <h1 class="text-primary text-center my-4"><%= @stats[:users] %></h1>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Источников новостей</h5>
              <h6 class="text-center text-secondary">В базе данных</h6>
              <h1 class="text-primary text-center my-4"><%= @stats[:sources] %></h1>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Количество новостей</h5>
              <h6 class="text-center text-secondary">Из источников</h6>
              <h1 class="text-primary text-center my-4"><%= @stats[:news] %></h1>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Записей в обучающей выборке</h5>
              <h6 class="text-center text-secondary">Для категоризации</h6>
              <h1 class="text-primary text-center my-4"><%= @stats[:learning] %></h1>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div id="piechart" class="text-center" style="width: 800px; height: 500px;"></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>