<!-- Full Page Image Header with Vertically Centered Content -->
<header class="scdhead">
  <div class="container h-100">
    <div class="row h-100 align-items-center text-light">
      <div class="col-12">
        <h1 class="font-weight-light">Модерация обучающей выборки</h1>
      </div>
    </div>
  </div>
</header>

<section class="py-5">
  <div class="container-fluid">

    <% if notice.present? %><div class="alert alert-info mt-4"><%= notice %></div><% end %>
    <% if alert.present? %><div class="alert alert-warning mt-4"><%= alert %></div><% end %>

    <div class="row">
      <div class="col-sm-3 px-1">
        <div class="py-4 sticky-top flex-grow-1">
          <div class="nav nav-pills flex-sm-column">
            <div class="nav-link d-none d-sm-inline">Навигация по категориям</div>
            <%= link_to "Все категории", learning_entries_path, class: "nav-link" + (params[:category] == "all" || !params[:category].present? ? " active" : "") %>
            <%= link_to t("business"), learning_entries_path(category: "business"), class: "nav-link" + (params[:category] == "business" ? " active" : "") %>
            <%= link_to t("politics"), learning_entries_path(category: "politics"), class: "nav-link" + (params[:category] == "politics" ? " active" : "") %>
            <%= link_to t("criminal"), learning_entries_path(category: "criminal"), class: "nav-link" + (params[:category] == "criminal" ? " active" : "") %>
            <%= link_to t("sport"), learning_entries_path(category: "sport"), class: "nav-link" + (params[:category] == "sport" ? " active" : "") %>
            <%= link_to t("technology"), learning_entries_path(category: "technology"), class: "nav-link" + (params[:category] == "technology" ? " active" : "") %>
            <%= link_to t("culture"), learning_entries_path(category: "culture"), class: "nav-link" + (params[:category] == "culture" ? " active" : "") %>
          </div>
        </div>
        <div class="py-4 fixed-bottom flex-grow-1 fixed-bottom col-sm-3">
          <div class="flex-sm-column">
            <%= link_to "Переобучить классификатор", new_learning_entry_path, class: "btn btn-success btn-block" %>
          </div>
        </div>
      </div>

      <!-- Card columns -->
      <div class="col" id="main">
          <% @list.each do |entry| %>
            <div class="card mb-2">
              <div class="card-body">
                <h5 class="card-title"><%= entry["title"] %> <span class="badge badge-success"><%= t("#{entry["category"]}") %></span></h5>
                <p class="card-text"><%= entry["description"] %></p>
                <%= button_to 'Удалить', learning_entry_path(entry), method: :delete, data: { confirm: 'Вы уверены, что хотите удалить это из обучающей выборки?' }, class: "btn btn-danger btn-small" %>
              </div>
            </div>
          <% end %>
        <%= will_paginate(@list, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, :previous_label => '&laquo;', :next_label => '&raquo;', :class => "pagination justify-content-center") %>
      </div>

      <!-- Card columns -->


    </div>
  </div>
</section>